.collapseContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


/* version mobile */

@media screen and (max-width: 768px) {
    .collapseContainer {
        width: 100%;
    }
}