.collapse {
    width: 100%;
    margin-bottom: 1%;
}

.up {
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    height: 0;
    opacity: 0;
}

.down {
    overflow-y: scroll;
    transition: height 0.5s ease-in-out, opacity 1s ease-in-out;
    height: 150px;
    opacity: 1;
}

.collapseTitle {
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 12px;
    cursor: pointer;
}

.collapseTitle img {
    width: 27px;
    transition: transform 200ms ease-in-out;
}

.collapseTitle img:hover {
    transform: scale(1.2);
}

.collapseTitle h3 {
    color: #FFF;
}

.collapse .collapseContent {
    margin-top: 0;
    background-color: #F6F6F6;
    padding: 10px;
    color: #FF6060;
    font-size: 18px;
    border-radius: 10px;
}