.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.error h2 {
    font-size: 288px;
    color: #FF6060;
    margin-top: 60px;
    margin-bottom: 40px;
}

.error h3 {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
    margin-bottom: 80px;
    margin: 36px 3% 80px 3%;
}

.error a {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 80px;
    text-decoration: none;
}

.error a:hover {
    text-decoration: underline;
}


/* version mobile */

@media screen and (max-width: 768px) {
    .error h2 {
        font-size: 96px;
    }
    .error h3 {
        font-size: 18px;
    }
}