.headerKasa {
    display: flex;
    padding: 3% 6%;
    align-items: center;
    justify-content: space-between;
}

.headerKasa nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.headerKasa nav a {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    width: auto;
    margin-left: 50px;
}

.headerKasa nav a:hover {
    text-decoration: underline;
}


/* version mobile */


/* @media screen and (max-width: 768px) {
    .headerKasa nav {
        text-transform: uppercase;
    }
} */