.headerKasa {
    display: flex;
    padding: 3% 6%;
    align-items: center;
    justify-content: space-between;
}

.headerKasa nav {
    width: auto;
    display: flex;
    flex-direction: row;
}

.headerKasa nav a {
    color: #FF6060;
    font-size: 24px;
    text-decoration: none;
    width: auto;
    margin-left: 1%;
}