@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', 'sans-serif';
    background-color: #FFFFFF;
}

.bodyKasa {
    padding: 30px 50px;
    box-sizing: border-box;
}


/* version tablette */

@media screen and (max-width: 992px) {
    .bodyKasa {
        padding: 15px 25px;
    }
}


/* version mobile */

@media screen and (max-width: 768px) {
    .bodyKasa {
        padding: 12px 20px;
    }
}


/* écrans très larges */

@media screen and (min-width: 1400px) {
    .bodyKasa {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
}