.housingInfosAndOwnerContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.housingCollapseContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.housingCollapseContainer {
    display: grid;
    grid-template-columns: 47% 6% 47%;
}

.descriptionCollapse {
    grid-column: 1/2;
}

.equipmentsCollapse {
    grid-column: 3/4;
}


/* version mobile */

@media screen and (max-width: 767px) {
    .housingInfosAndOwnerContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .housingCollapseContainer {
        display: block;
        width: 100%;
    }
}